.adm-res-create-container {
    padding: 2rem;
    font-family: Arial;
}

.adm-res-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.adm-res-form input,
.adm-res-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.adm-res-form button {
    background: #ff9800;
    padding: 0.8rem;
    border: none;
    color: white;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}
