{% load static %} {% include 'Website/__header.html' %}
          <!-- banner -->
          <div class="mil-inner-banner">
            <div class="mil-banner-content mil-up">
              <div class="mil-animation-frame">
                <div
                  class="mil-animation mil-position-4 mil-dark mil-scale"
                  data-value-1="6"
                  data-value-2="1.4"
                ></div>
              </div>
              <div class="container">
                <ul class="mil-breadcrumbs mil-mb-60">
                  <li><a href="home-1.html">Homepage</a></li>
                  <li><a href="certifications.html">Certifications</a></li>
                </ul>
                <h1 class="mil-mb-60">
                  Certified <span class="mil-thin">& Credible</span><br />
                  <span class="mil-thin"></span>
                </h1>
                <a
                  href="#certifications"
                  class="mil-link mil-dark mil-arrow-place mil-down-arrow"
                >
                  <span>My Certifications</span>
                </a>
              </div>
            </div>
          </div>
          <!-- banner end -->

          <!-- team -->
          <section id="certifications">
            <div class="container mil-p-120-90">
              <div class="row">
                <div class="col-lg-6">

                                    <div class="mil-image-frame mil-square mil-up mil-mb-30">
                                        <img src="{%  static 'img/certificates/cert 1.jpg' %}" alt="image">
                                        <a data-fancybox="gallery" data-no-swup href="{%  static 'img/certificates/cert 1.jpg' %}" class="mil-zoom-btn">
                                            <img src="{%  static 'img/icons/zoom.svg" alt="zoom">
                                        </a>
                                    </div>

                                </div>

               <div class="col-lg-6">

                                    <div class="mil-image-frame mil-square mil-up mil-mb-30">
                                        <img src="{%  static 'img/certificates/cert 2.jpg' %}" alt="image">
                                        <a data-fancybox="gallery" data-no-swup href="{%  static 'img/certificates/cert 2.jpg' %}" class="mil-zoom-btn">
                                            <img src="{%  static 'img/icons/zoom.svg" alt="zoom">
                                        </a>
                                    </div>

                                </div>

                <div class="col-lg-6">

                                    <div class="mil-image-frame mil-square mil-up mil-mb-30">
                                        <img src="{%  static 'img/certificates/cert 3.jpg' %}" alt="image">
                                        <a data-fancybox="gallery" data-no-swup href="{%  static 'img/certificates/cert 3.jpg' %}" class="mil-zoom-btn">
                                            <img src="{%  static 'img/icons/zoom.svg" alt="zoom">
                                        </a>
                                    </div>

                                </div>

                <div class="col-lg-6">

                                    <div class="mil-image-frame mil-square mil-up mil-mb-30">
                                        <img src="{%  static 'img/certificates/cert 4.jpg' %}" alt="image">
                                        <a data-fancybox="gallery" data-no-swup href="{%  static 'img/certificates/cert 4.jpg' %}" class="mil-zoom-btn">
                                            <img src="{%  static 'img/icons/zoom.svg" alt="zoom">
                                        </a>
                                    </div>

                                </div>

                <div class="col-lg-6">

                                    <div class="mil-image-frame mil-square mil-up mil-mb-30">
                                        <img src="{%  static 'img/certificates/cert 5.jpg' %}" alt="image">
                                        <a data-fancybox="gallery" data-no-swup href="{%  static 'img/certificates/cert 5.jpg' %}" class="mil-zoom-btn">
                                            <img src="{%  static 'img/icons/zoom.svg" alt="zoom">
                                        </a>
                                    </div>

                                </div>

                <div class="col-lg-6">

                                    <div class="mil-image-frame mil-square mil-up mil-mb-30">
                                        <img src="{%  static 'img/certificates/cert 6.jpg' %}" alt="image">
                                        <a data-fancybox="gallery" data-no-swup href="{%  static 'img/certificates/cert 6.jpg' %}" class="mil-zoom-btn">
                                            <img src="{%  static 'img/icons/zoom.svg" alt="zoom">
                                        </a>
                                    </div>

                                </div>
              </div>
            </div>
          </section>
          <!-- team end -->
{% include 'Website/__footer.html' %}