{% load static %} 
{% include 'Website/__header.html' %}
<!-- banner -->
<section class="mil-banner mil-dark-bg">
    <div class="mi-invert-fix">
        <div class="mil-animation-frame">
            <div
                class="mil-animation mil-position-1 mil-scale"
                data-value-1="7"
                data-value-2="1.6"
            ></div>
            <div
                class="mil-animation mil-position-2 mil-scale"
                data-value-1="4"
                data-value-2="1"
            ></div>
            <div
                class="mil-animation mil-position-3 mil-scale"
                data-value-1="1.2"
                data-value-2=".1"
            ></div>
        </div>

        <div class="mil-gradient"></div>

        <div class="container">
            <div class="mil-banner-content mil-up">
                <h1 class="mil-muted mil-mb-60">
                    Engineering
                    <span class="mil-thin">With Innovation</span><br />
                    Delivering <span class="mil-thin">with Excellence</span>
                </h1>
                <div class="row">
                    <div class="col-md-7 col-lg-5">
                        <!-- <p class="mil-light-soft mil-mb-60">
                            Welcome to a world where engineering meets innovation
                            and optimization. Together, let's build a future where
                            excellence in design and efficiency transforms ideas
                            into impactful solutions.
                        </p> -->
                    </div>
                </div>

                <a href="{% url 'project-category' %}" class="mil-button mil-arrow-place mil-btn-space">
                    <span>Explore my Projects</span>
                </a>

                <a href="https://drive.google.com/file/d/1KBX1n8YzlMEI-UjQYYVc4ZkiFi10DFZd/view?usp=drivesdk" class="resume-btn"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-no-swup>
                    VIEW MY RESUME
                </a>

                <div class="mil-circle-text">
                    <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 300 300"
                        enable-background="new 0 0 300 300"
                        xml:space="preserve"
                        class="mil-ct-svg mil-rotate"
                        data-value="360"
                    >
                        <defs>
                            <path
                                id="circlePath"
                                d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "
                            />
                        </defs>
                        <circle cx="150" cy="100" r="75" fill="none" />
                        <g>
                            <use xlink:href="#circlePath" fill="none" />
                            <text style="letter-spacing: 6.5px">
                                <!-- circle text -->
                                <textPath xlink:href="#circlePath">
                                    Scroll down - Scroll down -
                                </textPath>
                            </text>
                        </g>
                    </svg>
                    <a
                        href="#about"
                        class="mil-button mil-arrow-place mil-icon-button mil-arrow-down"
                    ></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner end -->

<!-- about -->
<section id="about">
    <div class="container mil-p-120-30">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-xl-5">
                <div class="mil-mb-90">
                    <h2 class="mil-up mil-mb-60">
                        About <span class="mil-thin">Me</span>
                    </h2>
                    <p class="mil-up mil-mb-30">
                        Ebubechukwu Ozurumba aka <strong>Bube,</strong> is a results-driven Engineer recognized for designing smarter systems, optimizing manufacturing operations, and turning complex technical challenges into efficient, scalable solutions.
                    </p>

                    <p class="mil-up mil-mb-30">
                        He brings strong expertise in manufacturing engineering, process improvement, CAD design, CNC processes, lean methodologies, and data-driven optimization. His work spans cycle-time reduction, process standardization, scrap and waste minimization, and the design of tooling, fixtures, and other functional engineering solutions.
                    </p>

                    <p class="mil-up mil-mb-30">
                        Bube approaches engineering with a unique blend of analytical discipline and creative problem-solving. He is passionate about Industry 4.0, digital workflows, and exploring how AI can transform modern manufacturing and process automation.
                    </p>

                    <p class="mil-up mil-mb-60">
                        He holds a Bachelor's degree in Mechanical Engineering and a Master's degree in Manufacturing Engineering Technology. He is also a certified Lean Six Sigma Green Belt with additional training in Operational Excellence.
                    </p>

                    <div class="mil-about-quote">
                        <div class="mil-avatar mil-up">
                            <img
                                src="{% static 'img/faces/customers/about img.jpg' %}"
                                alt="Founder"
                            />
                        </div>
                        <h6 class="mil-quote mil-up">
                            Engineering Smarter Processes. Building Better Futures.
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mil-about-photo mil-mb-90">
                    <div class="mil-lines-place"></div>
                    <div
                        class="mil-up mil-img-frame"
                        style="padding-bottom: 160%"
                    >
                        <img
                            src="{% static 'img/faces/customers/About me img.jpg' %}"
                            alt="img"
                            class="mil-scale"
                            data-value-1="1"
                            data-value-2="1.2"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about end -->

<!-- Start project category section -->
<section class="mil-dark-bg">
    <div class="mi-invert-fix">
        <div class="mil-animation-frame">
            <div
                class="mil-animation mil-position-1 mil-scale"
                data-value-1="2.4"
                data-value-2="1.4"
                style="top: 300px; right: -100px"
            ></div>
            <div
                class="mil-animation mil-position-2 mil-scale"
                data-value-1="2"
                data-value-2="1"
                style="left: 150px"
            ></div>
        </div>
        <div class="container mil-p-120-0 mil-margin">
            <div class="mil-mb-120">
                <div class="row">
                    <div class="col-lg-10">
                        <span
                            class="mil-suptitle mil-light-soft mil-suptitle-right mil-up"
                            >Let's create solutions that shape a
                            better future.</span
                        >
                    </div>
                </div>
                <div class="mil-complex-text justify-content-center mil-up">
                    <h2 class="mil-h1 mil-muted mil-center">
                        My Projects
                        <span class="mil-thin">by Focus Area</span>
                    </h2>
                </div>
            </div>

            <div class="row mil-services-grid m-0">
                <div
                    class="expertise-box col-md-6 col-lg-x col-md-6 col-lg-3 mil-services-grid-item P-2"
                >
                    <a
                        href="{% url 'design-engineering' %}"
                        class="mil-service-card-lg mil-more mil-accent-cursor mil-offset"
                    >
                        <h4 class="mil-muted mil-up mil-mb-30">
                            Design Engineering <br />& Technical Solutions.
                        </h4>
                        
                        <ul class="mil-service-list mil-light mil-mb-30">
                            <li class="mil-up">CAD Design</li>
                            <li class="mil-up">Technical Solutions</li>
                            <li class="mil-up">System Redesign</li>
                            <li class="mil-up">Engineering Drawings</li>
                        </ul>
                        <div
                            class="mil-link mil-accent mil-arrow-place mil-up view-more-secondary-btn"
                        >
                            <span>View Projects</span>
                        </div>
                    </a>
                </div>
                <div
                    class="expertise-box col-md-6 col-lg-x col-md-6 col-lg-3 mil-services-grid-item P-2"
                >
                    <a
                        href="{% url 'process-optimization' %}"
                        class="mil-service-card-lg mil-more mil-accent-cursor mil-offset"
                    >
                        <h4 class="mil-muted mil-up mil-mb-30">
                            Process Optimization <br />and Manufacturing
                        </h4>
                        
                        <ul class="mil-service-list mil-light mil-mb-30">
                            <li class="mil-up">Lean Manufacturing</li>
                            <li class="mil-up">Workflow Optimization</li>
                            <li class="mil-up">Cycle Time Reduction</li>
                            <li class="mil-up">Continuous Improvement</li>
                        </ul>
                        <div
                            class="mil-link mil-accent mil-arrow-place mil-up view-more-secondary-btn"
                        >
                            <span>View Projects</span>
                        </div>
                    </a>
                </div>
                <div
                    class="expertise-box col-md-6 col-lg-x col-md-6 col-lg-3 mil-services-grid-item P-2"
                >
                    <a
                        href="{% url 'data-analysis' %}"
                        class="mil-service-card-lg mil-more mil-accent-cursor mil-offset"
                    >
                        <h4 class="mil-muted mil-up mil-mb-30">
                            Data Analytics <br />and Industry 4.0
                        </h4>
                        
                        <ul class="mil-service-list mil-light mil-mb-30">
                            <li class="mil-up">Data Analysis</li>
                            <li class="mil-up">Industry 4.0</li>
                            <li class="mil-up">Predictive Analytics</li>
                            <li class="mil-up">Process Automation</li>
                        </ul>
                        <div
                            class="mil-link mil-accent mil-arrow-place mil-up view-more-secondary-btn"
                        >
                            <span>View Projects</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row mil-services-grid m-0"></div>
        </div>
    </div>
</section>
<!-- End project category section -->

<!-- Start All Project -->
<section>
    <div class="container mil-p-120-30">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-xl-4">
                <div class="mil-mb-90">
                    <h2 class="mil-up mil-mb-60">Explore <br />Projects</h2>
                    <p class="mil-up mil-mb-30">
                        Dive into a showcase of projects that reflect my expertise
                        in mechanical engineering, process optimization, and
                        sustainability. Each endeavor represents my commitment to
                        innovation and creating practical solutions that drive
                        efficiency and long-term impact.
                    </p>

                    <p class="mil-up mil-mb-60">
                        From designing streamlined systems to implementing
                        renewable energy strategies, my work embodies a passion
                        for solving complex challenges and delivering measurable
                        results. Explore how I turn ideas into engineering
                        solutions that shape industries and contribute to a
                        sustainable future.
                    </p>

                    <div class="mil-up">
                        <a
                            href="{% url 'project-category' %}"
                            class="mil-button mil-arrow-place mil-mb-60"
                            ><span>Explore my Projects</span></a
                        >
                    </div>

                    <h4 class="mil-up">
                        <span class="mil-thin">Delivering</span> exceptional
                        <br /><span class="mil-thin">engineering</span>
                        solutions.
                    </h4>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mil-team-list">
                    <div class="mil-lines-place"></div>

                    <div class="row mil-mb-60">
                        <div class="col-sm-6">
                            {% for project in projects|slice:":2" %}
                            <div class="mil-team-card mil-up mil-mb-30">
                                {% if project.featured_image %}
                                <img src="{{ project.featured_image }}" alt="{{ project.title }}" />
                                {% else %}
                                <img src="{% static 'img/faces/default.jpg' %}" alt="{{ project.title }}" />
                                {% endif %}
                                <div class="mil-description">
                                    <div class="mil-secrc-text">
                                        <h5 class="mil-muted mil-mb-5">
                                          {% if project.project_category == "Data Analysis" %}
                                            <a href="{% url 'data-analysis-detail' project.id %}">
                                                {{ project.title }}
                                            </a>
                                          {% endif %}
                                          {% if project.project_category == "Design Engineering" %}
                                            <a href="{% url 'design-engineering-detail' project.id %}">
                                                {{ project.title }}
                                            </a>
                                          {% endif %}
                                          {% if project.project_category == "Process Optimization" %}
                                            <a href="{% url 'process-optimization-detail' project.id %}">
                                                {{ project.title }}
                                            </a>
                                          {% endif %}
                                        </h5>
                                        <p class="mil-link mil-light-soft mil-mb-10">
                                            {{ project.owners|default:"Ebube Ozurumba" }}
                                        </p>
                                        <p class="mil-link mil-light-soft">
                                            <small>{{ project.project_category }}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="mil-team-card mil-up mil-mb-30">
                                <img src="{% static 'img/faces/1.jpg' %}" alt="Team member" />
                                <div class="mil-description">
                                    <div class="mil-secrc-text">
                                        <h5 class="mil-muted mil-mb-5">
                                            <a href="project-1.html">
                                                GreenFlow Energy Optimization
                                            </a>
                                        </h5>
                                        <p class="mil-link mil-light-soft mil-mb-10">
                                            EcoSmart Renewables
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mil-team-card mil-up mil-mb-30">
                                <img src="{% static 'img/faces/3.jpg' %}" alt="Team member" />
                                <div class="mil-description">
                                    <div class="mil-secrc-text">
                                        <h5 class="mil-muted mil-mb-5">
                                            <a href="project-2.html">
                                                LeanLine Manufacturing Redesign
                                            </a>
                                        </h5>
                                        <p class="mil-link mil-light-soft mil-mb-10">
                                            Nexus Industrial Systems
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                            <p
                                class="mil-mobile-hidden mil-text-sm mil-mb-30"
                                style="height: 30px"
                            >
                                <span class="mil-accent">*</span> Innovating Today,
                                Engineering Tomorrow
                            </p>

                            {% for project in projects|slice:"2:4" %}
                            <div class="mil-team-card mil-up mil-mb-30">
                                {% if project.featured_image %}
                                <img src="{{ project.featured_image }}" alt="{{ project.title }}" />
                                {% else %}
                                <img src="{% static 'img/faces/default.jpg' %}" alt="{{ project.title }}" />
                                {% endif %}
                                <div class="mil-description">
                                    <div class="mil-secrc-text">
                                        <h5 class="mil-muted mil-mb-5">
                                            {% if project.project_category == "Data Analysis" %}
                                            <a href="{% url 'data-analysis-detail' project.id %}">
                                                {{ project.title }}
                                            </a>
                                          {% endif %}
                                          {% if project.project_category == "Design Engineering" %}
                                            <a href="{% url 'design-engineering-detail' project.id %}">
                                                {{ project.title }}
                                            </a>
                                          {% endif %}
                                          {% if project.project_category == "Process Optimization" %}
                                            <a href="{% url 'process-optimization-detail' project.id %}">
                                                {{ project.title }}
                                            </a>
                                          {% endif %}
                                        </h5>
                                        <p class="mil-link mil-light-soft mil-mb-10">
                                            {{ project.owners|default:"Ebube Ozurumba" }}
                                        </p>
                                        <p class="mil-link mil-light-soft">
                                            <small>{{ project.project_category }}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="mil-team-card mil-up mil-mb-30">
                                <img src="{% static 'img/faces/2.jpg' %}" alt="Team member" />
                                <div class="mil-description">
                                    <div class="mil-secrc-text">
                                        <h5 class="mil-muted mil-mb-5">
                                            <a href="project-3.html">
                                                SupplyChain Sync: Efficiency Enhancement
                                            </a>
                                        </h5>
                                        <p class="mil-link mil-light-soft mil-mb-10">
                                            Global Freight Solutions
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="mil-team-card mil-up mil-mb-30">
                                <img src="{% static 'img/faces/4.jpg' %}" alt="Team member" />
                                <div class="mil-description">
                                    <div class="mil-secrc-text">
                                        <h5 class="mil-muted mil-mb-5">
                                            <a href="project-4.html">
                                                ThermalPro Renewable Heating Design
                                            </a>
                                        </h5>
                                        <p class="mil-link mil-light-soft mil-mb-10">
                                            SolarGrid Technologies
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End All Project -->
{% include 'Website/__footer.html' %}