{% load static %} {% include 'Website/__header.html' %}

                <!-- banner -->
                <div class="mil-inner-banner mil-p-0-30">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-mb-60">
                                <li><a href="index.html">Homepage</a></li>
                                <li><a href="blog.html">Research</a></li>
                            </ul>
                           
                            
                        </div>
                    </div>
                </div>
                <!-- banner end -->


                <!-- blog -->
                <section>
                    <div class="container mil-p-120-60">
                        <div class="row align-items-center mil-mb-30">
                            <div class="col-lg-4 mil-mb-30">
                                <h3 class="mil-up">Research Works</h3>
                            </div>
                            <div class="col-lg-8 mil-mb-30">
                                <div class="mil-adaptive-right mil-up">

                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">

                                <a href="https://www.researchgate.net/publication/392770823_Enhancing_predictive_maintenance_in_lean_manufacturing_for_continuous_process_improvement_using_digital_twin_technology" class="mil-blog-card mil-blog-card-hori mil-mb-60 mil-more"
   target="_blank"
   rel="noopener noreferrer"
   data-no-swup>
                                    <div class="mil-cover-frame mil-up">
                                        <img src="{% static 'Website/img/blog/1.jpg' %}" alt="cover">
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">ARTICLE</div>
                                            <div class="mil-label mil-upper">June 2025</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-30">Enhancing predictive maintenance in lean manufacturing for continuous process improvement using digital twin technology</h4>
                                        <p class="mil-post-text mil-up mil-mb-30">The latest advancement in digital technologies has greatly revolutionized modern manufacturing processes, particularly through the adoption of Lean Manufacturing initiatives aimed at minimizing wastage and enhancing operational efficiency</p>
                                        <div class="mil-link mil-dark mil-arrow-place mil-up">
                                            <span>Read more</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-12">

                                <a href="https://www.researchgate.net/publication/389296576_ARTIFICIAL_INTELLIGENCE_IN_ADVANCED_PROCESS_OPTIMIZATION_AND_SMART_MANUFACTURING_SYSTEMS" class="mil-blog-card mil-blog-card-hori mil-mb-60 mil-more"
   target="_blank"
   rel="noopener noreferrer"
   data-no-swup>
                                    <div class="mil-cover-frame mil-up">
                                        <img src="{% static 'Website/img/blog/2.jpg' %}" alt="cover">
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">ARTICLE</div>
                                            <div class="mil-label mil-upper">November 2024</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-30">Artificial Intelligence in Advanced Process Optimization and Smart Manufacturing Systems</h4>
                                        <p class="mil-post-text mil-up mil-mb-30">Industrial  systems  engineering  is  undergoing  a significant transformation  driven  by  the advent of intelligent technologies  that  enable  smarter,  more  efficient,  and  sustainable  operations. </p>
                                        <div class="mil-link mil-dark mil-arrow-place mil-up">
                                            <span>Read more</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-12">

                                <a href="https://www.researchgate.net/publication/397255265_Anticorrosion_Effect_of_Pineapple_Peel_Extract_on_Mild_Steel_in_Hydrogen_Sulfide_Environment_Characterization_Optimization_and_Statistical_Analysis_via_Response_Surface_Methodology" class="mil-blog-card mil-blog-card-hori mil-mb-60 mil-more"
   target="_blank"
   rel="noopener noreferrer"
   data-no-swup>
                                    <div class="mil-cover-frame mil-up">
                                        <img src="{% static 'Website/img/blog/3.jpg' %}" alt="cover">
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">ARTICLE</div>
                                            <div class="mil-label mil-upper">November 2025</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-30">Anticorrosion Effect of Pineapple Peel Extract on Mild Steel in Hydrogen Sulfide Environment: Characterization, Optimization and Statistical Analysis via Response Surface Methodology</h4>
                                        <p class="mil-post-text mil-up mil-mb-30">High volume of solid waste generated from pineapple peel has necessitated the need for its transformation into useful materials to curb rising environmental pollution and achieve zero waste.</p>
                                        <div class="mil-link mil-dark mil-arrow-place mil-up">
                                            <span>Read more</span>
                                        </div>
                                    </div>
                                </a>

                            </div>


                            <div class="col-lg-12">

                                <a href="https://www.researchgate.net/publication/392585438_Enhancing_the_Corrosion_Protection_of_Mild_Steel_using_Nickel-Voltage-_Controlled_Electrodeposition" class="mil-blog-card mil-blog-card-hori mil-mb-60 mil-more"
   target="_blank"
   rel="noopener noreferrer"
   data-no-swup>
                                    <div class="mil-cover-frame mil-up">
                                        <img src="{% static 'Website/img/blog/4.jpg' %}" alt="cover">
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">ARTICLE</div>
                                            <div class="mil-label mil-upper">June 2025</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-30">Enhancing the Corrosion Protection of Mild Steel using Nickel-Voltage- Controlled Electrodeposition</h4>
                                        <p class="mil-post-text mil-up mil-mb-30">Tailoring the electrodeposition parameters to yield high performance coating for corrosion control in mild steel is important for its sustainability as an effective corrosion mitigation measure.</p>
                                        <div class="mil-link mil-dark mil-arrow-place mil-up">
                                            <span>Read more</span>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="col-lg-12">

                                <a href="https://www.researchgate.net/publication/396505242_Process-Composition_Design_of_Hypoeutectic_Aluminum-Silicon_Alloy_for_High_Performance_Wear_Resistance_Application" class="mil-blog-card mil-blog-card-hori mil-mb-60 mil-more"
   target="_blank"
   rel="noopener noreferrer"
   data-no-swup>
                                    <div class="mil-cover-frame mil-up">
                                        <img src="{% static 'Website/img/blog/5.jpg' %}" alt="cover">
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">ARTICLE</div>
                                            <div class="mil-label mil-upper">October 2025</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-30">Process-Composition Design of Hypoeutectic Aluminum-Silicon Alloy for High Performance Wear Resistance Application</h4>
                                        <p class="mil-post-text mil-up mil-mb-30">This study investigates the process-composition design of hypoeutectic aluminium-silicon alloys aimed at improving the wear behaviour of the alloy for tribological application.</p>
                                        <div class="mil-link mil-dark mil-arrow-place mil-up">
                                            <span>Read more</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            
                        </div>
                    </div>
                </section>
                <!-- blog end -->
{% include 'Website/__footer.html' %}